# All secrets are hidden by default
*
!.gitignore

# You can manually expose some of them
# In particular, here commit hashes are included by default
!SHA_*

# In this specific instance, since these access tokens are read-only to dummy projects,
# we're fine including them.
!TOK_GL_HELLO_WORLD
